{% load static %}
<!DOCTYPE HTML>
<!--
	Striped by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Smart Buy Händler-Portal</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'backend/assets/css/main.css' %}" />
		<link rel="stylesheet" href="{% static 'backend/chartjs/Chart.min.css' %}" />
		<link rel="apple-touch-icon-precomposed" sizes="57x57" href="{% static 'fav/apple-touch-icon-57x57.png' %}" />
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'fav/apple-touch-icon-114x114.png' %}" />
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'fav/apple-touch-icon-72x72.png' %}" />
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'fav/apple-touch-icon-144x144.png' %}" />
		<link rel="apple-touch-icon-precomposed" sizes="60x60" href="{% static 'fav/apple-touch-icon-60x60.png' %}" />
		<link rel="apple-touch-icon-precomposed" sizes="120x120" href="{% static 'fav/apple-touch-icon-120x120.png' %}" />
		<link rel="apple-touch-icon-precomposed" sizes="76x76" href="{% static 'fav/apple-touch-icon-76x76.png' %}" />
		<link rel="apple-touch-icon-precomposed" sizes="152x152" href="{% static 'fav/apple-touch-icon-152x152.png' %}" />
		<link rel="icon" type="image/png" href="{% static 'fav/favicon-196x196.png' %}" sizes="196x196" />
		<link rel="icon" type="image/png" href="{% static 'fav/favicon-96x96.png' %}" sizes="96x96" />
		<link rel="icon" type="image/png" href="{% static 'fav/favicon-32x32.png' %}" sizes="32x32" />
		<link rel="icon" type="image/png" href="{% static 'fav/favicon-16x16.png' %}" sizes="16x16" />
		<link rel="icon" type="image/png" href="{% static 'fav/favicon-128.png' %}" sizes="128x128" />
		<meta name="application-name" content="&nbsp;"/>
		<meta name="msapplication-TileColor" content="#FFFFFF" />
		<meta name="msapplication-TileImage" content="{% static 'fav/mstile-144x144.png' %}" />
		<meta name="msapplication-square70x70logo" content="{% static 'fav/mstile-70x70.png' %}" />
		<meta name="msapplication-square150x150logo" content="{% static 'fav/mstile-150x150.png' %}" />
		<meta name="msapplication-wide310x150logo" content="{% static 'fav/mstile-310x150.png' %}" />
		<meta name="msapplication-square310x310logo" content="{% static 'fav/mstile-310x310.png' %}" />
		<link rel="shortcut icon" href="{% static 'fav/favicon.ico' %}" />
	</head>
	<body class="is-preload">

		<!-- Content -->
			<div id="content">
				<div class="inner">



					{% for article in articles %}
					<!-- Post -->
					<article class="box post post-excerpt">
							<header>
								<!--
									Note: Titles and subtitles will wrap automatically when necessary, so don't worry
									if they get too long. You can also remove the <p> entirely if you don't
									need a subtitle.
								-->
								<h2><a href="#">{{article.titel}}</a></h2>
								<!-- <p>A free, fully responsive HTML5 site template by HTML5 UP</p> -->
							</header>
							<!-- <div class="info">

								<span class="date"><span class="month">Jul<span>y</span></span> <span class="day">14</span><span class="year">, 2014</span></span>

								<ul class="stats">
									<li> Preis<a href="#">{{article.price}}&nbsp€</a></li>
									<li> 10% <a href="#">476</a></li>
									<li> 20% <a href="#">764</a></li>
									<li> 30 % <a href="#">1523</a></li>
									<li> 50 % <a href="#">5687</a></li>
								</ul>
							</div> -->

							<div class="row">
								<div class="col-3 col-12-medium">
									<img src="{{article.image}}" alt="" />
								</div>
								<div class="col-3 col-12-medium">
									Aktueller Preis
									<br>
									<div style="font-size: 4em;">
										{{article.price|floatformat:2}}&nbsp€
									</div>
								</div>

								<div class="col-6 col-12-medium">

									<ul class="actions" style="padding-top: 1em;">
										<input type="submit" value="476 mal Verkaufen mit 10 % Rabatt" class="primary" /> 19.256,58&nbsp€ Umsatz
									</ul>
									<ul class="actions" style="padding-top: 1em;">
										<input type="submit" value="764 mal Verkaufen mit 20 % Rabatt" class="primary" /> 27.473,44&nbsp€ Umsatz
									</ul>
									<ul class="actions" style="padding-top: 1em;">
										<input type="submit" value="1523 mal Verkaufen mit 30 % Rabatt" class="primary" /> 47.921,19&nbsp€ Umsatz
									</ul>

								</div>

								<div class="col-7 col-12-medium">
									<canvas id="myChart" style="width: 400; height: 400;" width="200" height="100"></canvas>
								</div>
							</div>


						</article>
					{% endfor %}

					<!-- Pagination -->
						<div class="pagination">
							<!--<a href="#" class="button previous">Previous Page</a>-->
							<div class="pages">
								<a href="#" class="active">1</a>
								<a href="#">2</a>
								<a href="#">3</a>
								<a href="#">4</a>
								<span>&hellip;</span>
								<a href="#">20</a>
							</div>
							<a href="#" class="button next">Next Page</a>
						</div>

				</div>
			</div>

		<!-- Sidebar -->
			<div id="sidebar">

				<!-- Logo -->
					<h1 id="logo"><a href="#"><img style="max-width: 100%;" src="{% static 'images/logo.png' %}" alt="" /></a></h1>

				<!-- Nav -->
					<nav id="nav">
						<ul>
							<li class="current"><a href="#">Artikel</a></li>
							<li><a href="#">Statistiken</a></li>
							<li><a href="#">Sendungsverfolgung</a></li>
							<li><a href="#">Support</a></li>
						</ul>
					</nav>

				<!-- Search -->
					<section class="box search">
						<form method="post" action="#">
							<input type="text" class="text" name="search" placeholder="Search" />
						</form>
					</section>

				<!-- Text -->
					<section class="box text-style1">
						<div class="inner">
							<p>
								<strong>News:</strong> Jetzt neue Kredite bei der <span><b>Sparkasse</b></span> für KMUs </a>
							</p>
						</div>
					</section>

				<!-- Recent Posts -->
					<section class="box recent-posts">
						<header>
							<h2>Recent Posts</h2>
						</header>
						<ul>
							<li><a href="#">Lorem ipsum dolor</a></li>
							<li><a href="#">Feugiat nisl aliquam</a></li>
							<li><a href="#">Sed dolore magna</a></li>
							<li><a href="#">Malesuada commodo</a></li>
							<li><a href="#">Ipsum metus nullam</a></li>
						</ul>
					</section>

				<!-- Recent Comments -->
					<section class="box recent-comments">
						<header>
							<h2>Recent Comments</h2>
						</header>
						<ul>
							<li>case on <a href="#">Lorem ipsum dolor</a></li>
							<li>molly on <a href="#">Sed dolore magna</a></li>
							<li>case on <a href="#">Sed dolore magna</a></li>
						</ul>
					</section>

				<!-- Calendar -->
					<section class="box calendar">
						<div class="inner">
							<table>
								<caption>July 2014</caption>
								<thead>
									<tr>
										<th scope="col" title="Monday">M</th>
										<th scope="col" title="Tuesday">T</th>
										<th scope="col" title="Wednesday">W</th>
										<th scope="col" title="Thursday">T</th>
										<th scope="col" title="Friday">F</th>
										<th scope="col" title="Saturday">S</th>
										<th scope="col" title="Sunday">S</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td colspan="4" class="pad"><span>&nbsp;</span></td>
										<td><span>1</span></td>
										<td><span>2</span></td>
										<td><span>3</span></td>
									</tr>
									<tr>
										<td><span>4</span></td>
										<td><span>5</span></td>
										<td><a href="#">6</a></td>
										<td><span>7</span></td>
										<td><span>8</span></td>
										<td><span>9</span></td>
										<td><a href="#">10</a></td>
									</tr>
									<tr>
										<td><span>11</span></td>
										<td><span>12</span></td>
										<td><span>13</span></td>
										<td class="today"><a href="#">14</a></td>
										<td><span>15</span></td>
										<td><span>16</span></td>
										<td><span>17</span></td>
									</tr>
									<tr>
										<td><span>18</span></td>
										<td><span>19</span></td>
										<td><span>20</span></td>
										<td><span>21</span></td>
										<td><span>22</span></td>
										<td><a href="#">23</a></td>
										<td><span>24</span></td>
									</tr>
									<tr>
										<td><a href="#">25</a></td>
										<td><span>26</span></td>
										<td><span>27</span></td>
										<td><span>28</span></td>
										<td class="pad" colspan="3"><span>&nbsp;</span></td>
									</tr>
								</tbody>
							</table>
						</div>
					</section>

				<!-- Copyright -->
					<ul id="copyright">
						<li>&copy; Untitled.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>

			</div>

		<!-- Scripts -->
			<script src="{% static 'backend/assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'backend/assets/js/browser.min.js' %}"></script>
			<script src="{% static 'backend/assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'backend/assets/js/util.js' %}"></script>
			<script src="{% static 'backend/assets/js/main.js' %}"></script>
			<script src="{% static 'backend/chartjs/Chart.min.js' %}"></script>

			<script>
				window.chartColors = {
					red: 'rgb(255, 99, 132)',
					orange: 'rgb(255, 159, 64)',
					yellow: 'rgb(255, 205, 86)',
					green: 'rgb(75, 192, 192)',
					blue: 'rgb(54, 162, 235)',
					purple: 'rgb(153, 102, 255)',
					grey: 'rgb(201, 203, 207)'
				};

				// var ctx = document.getElementById('myChart').getContext('2d');
				var ctx = $('#myChart');
				var myChart = new Chart(ctx, {
					type: 'line',
					data: {
						labels: ['', '', '', '', '', ''],
						datasets: [
							{
								label: 'Preis €',
								fill: false,
								backgroundColor: window.chartColors.blue,
								borderColor: window.chartColors.blue,
								data: [50, 40, 30, 20, 10, 0],
								yAxisID: 'y-axis-1',
							}, {
								label: 'Nachfrage',
								backgroundColor: window.chartColors.red,
								borderColor: window.chartColors.red,
								data: [0, 476, 764, 1523, 5687, 6000],
								fill: true,
								yAxisID: 'y-axis-2'
							}]
					},
					options: {
						scales: {
							yAxes: [{
							type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
							display: true,
							position: 'left',
							id: 'y-axis-1',
						}, {
							type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
							display: true,
							position: 'right',
							id: 'y-axis-2',

							// grid line settings
							gridLines: {
								drawOnChartArea: false, // only want the grid lines for one axis to show up
							},
						}],
						}
					}
				});
			</script>

	</body>
</html>
