{% extends "layout.html" %}
{% load static %}

{% block content %}


<!-- Main -->
<div id="main">
	<div class="inner">
		<h1>Login</h1>

		<form method="post">
			{% csrf_token %}
			<p>
				<input type="text" placeholder="Nutzername" name="username" autofocus=""
					autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username">
			</p>
			<p>
				<input type="password" placeholder="Passwort" name="password"
					autocomplete="current-password" required="" id="id_password">
			</p>
			{% if form.non_field_errors %}
				<ul class='errorlist'>
					{% for error in form.non_field_errors %}
						<li>{{ error }}</li>
					{% endfor %}
				</ul>
			{% endif %}
			<p>
				<input type="submit" value="Login" />
			</p>
			<p><a href="{% url 'signup' %}">Noch kein Kunde? Jetzt registrieren.</a></p>
		</form>
	</div>
</div>


{% endblock %}
