{% extends "layout.html" %}
{% load static %}

{% block content %}


<!-- Main -->
<div id="main">
	<div class="inner">
		<form method="post">
			{% csrf_token %}
			{{ form.as_p }}
			<p>
				<input type="submit" value="Registrieren"/>
			</p>
			<p><a href="{% url 'login' %}">Bereits Kunde? Einfach einloggen.</a></p>
		</form>
	</div>
</div>


{% endblock %}
