{% extends "layout.html" %}
{% load static %}

{% block js %}
<script type="text/javascript">
document.getElementById('id_price').addEventListener("focusout", function () {
	if (this.value.length > 2 && this.value[this.value.length - 1] === "€" && this.value[this.value.length - 2] !== " ") {
		this.value[this.value.length - 1] === " "
	}
	if (this.value.length > 1 && this.value[this.value.length - 1] === " ") {
		this.value = this.value + "€"
	} else if (this.value.length > 0 && this.value[this.value.length - 1] !== "€") {
		this.value = this.value + " €"
	}
});
document.getElementById('id_price').addEventListener("focusin", function () {
	if (this.value.substring(this.value.length - 2, this.value.length) === " €") {
		this.value = this.value.substring(0, this.value.length - 2);
	}
	if (this.value.substring(this.value.length - 1, this.value.length) === "€") {
		this.value = this.value.substring(0, this.value.length - 1);
	}
});
</script>
{% endblock %}

{% block content %}


<!-- Main -->
<div id="main">
	<div class="inner">
		<h1>{{article.titel}}</h1>

		<div class="row">
			<div class="col-3 col-12-medium">
				<img src="{{article.image}}" alt="" />
			</div>
			<div class="col-3 col-12-medium">
				Aktueller Preis
				<br>
				<div style="font-size: 3.5em;">
					{{article.price}}&nbsp€
				</div>
			</div>

			<div class="col-6 col-12-medium">
				<form action="." method="post">
					{% csrf_token %}
					{% for hidden in form.hidden_fields %}
					{{ hidden }}
					{% endfor %}

					<!-- {{ form.as_p }} -->
					
					{% if form.non_field_errors %}
						<ul class='errorlist'>
							{% for error in form.non_field_errors %}
								<li>{{ error }}</li>
							{% endfor %}
						</ul>
					{% endif %}

					<div class="fieldWrapper">
						{{ form.price }}
						{{ form.price.errors }}
					</div>
					<div class="fieldWrapper">
						{{ form.amount }}
						{{ form.amount.errors }}
					</div>
					{{ form.until }}
                    {{ form.until.errors }}

					<ul class="actions" style="padding-top: 1em;">
						<li><input type="submit" value="Automatisch Kaufen" class="primary" /></li>
					</ul>
					sobald Wunschpreis erreicht oder unterboten <br>
                    Wunschpreis inkl. Versand
				</form>
			</div>
		</div>
	</div>
</div>


{% endblock %}
