{% extends "layout.html" %}
{% load static %}

{% block header %}
	<!-- Header -->
	<header id="header">
		<div class="inner">


		<div class="row">

			<div class="col-6 col-12-medium">
				<!-- Logo -->
				<a href="{% url 'index' %}" class="logo">
					<span class="symbol"><img src="{% static 'images/logo.png' %}" alt="" /></span><span class="title"></span>
				</a>
			</div>

			<div class="col-6 col-12-medium">

				<form action="." method="post">
					{% csrf_token %}
					{{form}}
					<ul class="actions" style="padding-top: 1em;">
						<li><input type="submit" value="Suchen" class="primary" /></li>
					</ul>
				</form>

			</div>

		</div>




			<!-- Nav -->
				<nav>
					<ul>
						<li><a href="#menu">Menu</a></li>
					</ul>
				</nav>

		</div>
	</header>
{% endblock %}

{% block content %}
				<!-- Main -->
					<div id="main">
						<div class="inner">
							<header>
								<h1 style="line-height:2">Wir kaufen für euch zum Wunschpreis ein.</h1>
									<p>Einfach Artikel auswählen, Wunschpreis festlegen und sobald wir ein Angebot für dich finden klingelt der Paketbote. 🎉</p>
								</header>
								<section class="tiles">
								{% for article in articles %}
								<article class="style1">
									<span class="image">
										<img src="{{article.image}}" alt="abc" />
									</span>
									<a href="details/{{article.id}}">
										<h2>{{article.titel}}</h2>
										<div class="content">
											<p class="price">{{article.price|floatformat:2}}&nbsp€</p>
										</div>
									</a>
								</article>
								{% endfor %}
							</section>
						</div>
					</div>

{% endblock %}
