{% load static %}

<!DOCTYPE HTML>
<!--
	Smart Buy
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
			new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
			})(window,document,'script','dataLayer','GTM-MV2LTXR');</script>
			<!-- End Google Tag Manager -->
		<title>Smart Buy</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}" /></noscript>
		<link rel="apple-touch-icon-precomposed" sizes="57x57" href="{% static 'fav/apple-touch-icon-57x57.png' %}" />
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'fav/apple-touch-icon-114x114.png' %}" />
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'fav/apple-touch-icon-72x72.png' %}" />
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'fav/apple-touch-icon-144x144.png' %}" />
		<link rel="apple-touch-icon-precomposed" sizes="60x60" href="{% static 'fav/apple-touch-icon-60x60.png' %}" />
		<link rel="apple-touch-icon-precomposed" sizes="120x120" href="{% static 'fav/apple-touch-icon-120x120.png' %}" />
		<link rel="apple-touch-icon-precomposed" sizes="76x76" href="{% static 'fav/apple-touch-icon-76x76.png' %}" />
		<link rel="apple-touch-icon-precomposed" sizes="152x152" href="{% static 'fav/apple-touch-icon-152x152.png' %}" />
		<link rel="icon" type="image/png" href="{% static 'fav/favicon-196x196.png' %}" sizes="196x196" />
		<link rel="icon" type="image/png" href="{% static 'fav/favicon-96x96.png' %}" sizes="96x96" />
		<link rel="icon" type="image/png" href="{% static 'fav/favicon-32x32.png' %}" sizes="32x32" />
		<link rel="icon" type="image/png" href="{% static 'fav/favicon-16x16.png' %}" sizes="16x16" />
		<link rel="icon" type="image/png" href="{% static 'fav/favicon-128.png' %}" sizes="128x128" />
		<meta name="application-name" content="&nbsp;"/>
		<meta name="msapplication-TileColor" content="#FFFFFF" />
		<meta name="msapplication-TileImage" content="{% static 'fav/mstile-144x144.png' %}" />
		<meta name="msapplication-square70x70logo" content="{% static 'fav/mstile-70x70.png' %}" />
		<meta name="msapplication-square150x150logo" content="{% static 'fav/mstile-150x150.png' %}" />
		<meta name="msapplication-wide310x150logo" content="{% static 'fav/mstile-310x150.png' %}" />
		<meta name="msapplication-square310x310logo" content="{% static 'fav/mstile-310x310.png' %}" />
		<link rel="shortcut icon" href="{% static 'fav/favicon.ico' %}" />

	</head>
	<body class="is-preload">
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MV2LTXR"
			height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->

				<!-- Wrapper -->
				<div id="wrapper">


					{% block header %}
					<!-- Header -->
						<header id="header">
							<div class="inner">

								<!-- Logo -->
									<a href="{% url 'index' %}" class="logo">
										<span class="symbol"><img src="{% static 'images/logo.png' %}" alt="" /></span><span class="title"></span>
									</a>

								<!-- Nav -->
									<nav>
										<ul>
											<li><a href="#menu">Menu</a></li>
										</ul>
									</nav>

							</div>
						</header>
					{% endblock %}

					<!-- Menu -->
						<nav id="menu">
							<h2>Menu</h2>
							<ul>
								{% if user.is_authenticated %}
								<li><a href="{% url 'index' %}">Home</a></li>
								<li><a href="{% url 'myorders' %}">Meine Bestellungen</a></li>
								<li><a href="{% url 'logout' %}">Logout</a></li>
								{% else %}
								<li><a href="{% url 'login' %}">Login</a></li>
								{% endif %}
							</ul>
						</nav>

		{% block content %}{% endblock %}

				<!-- Footer -->
				<footer id="footer">
					<div class="inner">
						<!-- <section>
							<h2>Kontaktiere Uns</h2>
							<form method="post" action="#">
								<div class="fields">
									<div class="field half">
										<input type="text" name="name" id="name" placeholder="Name" />
									</div>
									<div class="field half">
										<input type="email" name="email" id="email" placeholder="E-Mail" />
									</div>
									<div class="field">
										<textarea name="message" id="message" placeholder="Nachricht"></textarea>
									</div>
								</div>
								<ul class="actions">
									<li><input type="submit" value="Senden" class="primary" /></li>
								</ul>
							</form>
						</section> -->
						<!-- <section>
							<h2>Follow</h2>
							<ul class="icons">
								<li><a href="#" class="icon brands style2 fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="#" class="icon brands style2 fa-facebook-f"><span class="label">Facebook</span></a></li>
								<li><a href="#" class="icon brands style2 fa-instagram"><span class="label">Instagram</span></a></li>
								<li><a href="#" class="icon brands style2 fa-dribbble"><span class="label">Dribbble</span></a></li>
								<li><a href="#" class="icon brands style2 fa-github"><span class="label">GitHub</span></a></li>
								<li><a href="#" class="icon brands style2 fa-500px"><span class="label">500px</span></a></li>
								<li><a href="#" class="icon solid style2 fa-phone"><span class="label">Phone</span></a></li>
								<li><a href="#" class="icon solid style2 fa-envelope"><span class="label">Email</span></a></li>
							</ul>
						</section> -->
						<ul class="copyright">
							<li>&copy; Smart-Buy. Alle Rechte vorbehalten</li>
						</ul>
					</div>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/browser.min.js' %}"></script>
			<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>

	</body>
	{% block js %}{% endblock %}
</html>
