{% extends "layout.html" %}
{% load static %}
{% load filters %}
{% load humanize %}

{% block content %}

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.min.js"></script>

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<header>
								<h1>MEINE BESTELLUNGEN<br />
								</header>
								<section class="tiles">

									<section>
										<div class="table-wrapper">
											<table>
												<thead>
													<tr>
														<th>Bild</th>
														<th>Produkt</th>
														<th>Menge</th>
														<th>Wunschpreis</th>
														<th>Wallet Pass</th>
													</tr>
												</thead>
												<tbody>
													{% for order in orders %}
													<tr>
														<td><img src="{{order.article|article_get_image}}" alt="Bild" style="zoom: 50%;" /></td>
														<td>{{order.article|article_get_titel}}</td>
														<td>{{order.amount|intcomma}}</td>
														<td>{{order.price|floatformat:2|intcomma}}&nbsp€</td>
                                                  
                                                        <td>
                                                            <script type="text/javascript">
                                                            $(function(){
                                                                $('#button{{order.id}}').click(function(){ 
                                                                    if(!$('#iframe{{order.id}}').length) {
                                                                            $('#iframeHolder{{order.id}}').html('<iframe id="iframe" src="{{order.your_pass_json|pass_get_url}}" width="500" height="850"></iframe>');
                                                                    }
                                                                    $('#button{{order.id}}').hide()
                                                                });   
                                                            });
                                                            </script>
                                                            
                                                            <button id="button{{order.id}}">Wallet Pass anzeigen</button>
                                                            <div id="iframeHolder{{order.id}}"></div>

                                                        </td>
												</tr>
												{% endfor %}
											</tbody>
										</table>
									</div>
                            <a href="{% url 'index' %}" class="button primary">Weiter Einkaufen</a>
							</section>
						</div>
					</div>

{% endblock %}
