{% extends "layout.html" %}
{% load static %}
{% load humanize %}

{% block content %}


<!-- Main -->
<div id="main">
	<div class="inner">
		<h1>{{article.titel}}</h1>

		<div class="row">
			<div class="col-3 col-12-medium">
				<img src="{{article.image}}" alt="" />
			</div>
			<div class="col-3 col-12-medium">
				Wurde {{amount|floatformat:0}} mal für den auto&shy;matischen Kauf zum Preis von
				<br>
				<div style="font-size: 4em;">
					{{price|floatformat:2}}&nbsp€
				</div>
				aufgenommen.
				<ul class="actions" style="padding-top: 1em;">
					<a href="{% url 'index' %}" class="button primary">Weiter Einkaufen</a>
				</ul>
			</div>

			<div class="col-6 col-12-medium">
				<iframe src="{{your_pass_url}}" style="
				width: 500px;
				height: 1000px;"></iframe>
			</div>
		</div>
	</div>
</div>


{% endblock %}
